<!-- Section: Design Block -->
<!-- Section: Design Block  justify-content-center  -->
<section>
  <div class="container-fluid container-fs bg-light py-3">
    <div class="row d-flex flex-column min-vh-100 py-3 py-md-5 align-items-center">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card sb-light-blur shadow border-0 mx-2 mx-md-1" style="border-radius: 1rem;">
          <div class="card-body p-2 p-md-4 pt-5 text-center">
            <h1 class="fw-bold mt-2 mb-3 text-cursive">Sign Up</h1>
            <p>Please enter your account information!</p>

            <!-- Sign up form -->
            <app-account-form [questions]="questions" [submitButtonValue]="'Sign up'" (onSubmitForm)="onSubmit($event)">
            </app-account-form>
            <!-- Register buttons -->
            <div class="text-center">
              <p>or sign up with:</p>

              <button type="button" class="btn btn-link btn-floating mx-1">
                <fa-icon [icon]="faGoogle" class="fa-xl"></fa-icon>
              </button>

              <button type="button" class="btn btn-link btn-floating mx-1">
                <fa-icon [icon]="faApple" class="fa-xl"></fa-icon>
              </button>

              <button type="button" class="btn btn-link btn-floating mx-1">
                <fa-icon [icon]="faGithub" class="fa-xl"></fa-icon>
              </button>
            </div>

            <!-- bypass account -->
            <a class="btn btn-primary btn-lg btn-block text-cursive" [routerLink]='["/"]'
              style="background-color: #55acee" href="#!" role="button">
              <i class="fab fa-twitter me-2"></i>
              Continue without account
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>