<div class="my-form__wrapper">
  <div class="login-welcome-row">
      <h1>Welcome back &#x1F44F;</h1>
      <p>Please enter your details!</p>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="my-form">
    <div class="text-field">
      <label for="username">Task</label>
      <input
        type="text"
        name="username"
        formControlName="username"
        id="username"
        placeholder="Username"
        class="form-control"
        required
        />
    </div>
    <div class="text-field">
      <label for="email">Day & Time</label>
      <input
        type="text"
        name="email"
        formControlName="email"
        id="email"
        placeholder="Email"
        class="form-control"
        required
        />
    </div>
    <div class="text-field">
      <label for="password">Password</label>
      <input
        type="text"
        name="password"
        formControlName="password"
        id="password"
        placeholder="Password"
        class="form-control"
        autocomplete="new-password"
        required
        />
    </div>
    <div class="text-field">
      <label for="password_conf">Confirm password</label>
      <input
        type="text"
        name="password_conf"
        formControlName="password_conf"
        id="password_conf"
        placeholder="Confirm password"
        class="form-control"
        autocomplete="new-password"
        required
        />
    </div>
    <button [disabled]="!form.valid || loading"  type="submit" class="my-form__button" value="Login">
      <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
      Register
  </button>

  </form>
</div>