<nav ngbNav class="navbar {{backgroundClass}} {{navClass}} shadow-sm">
    <div class="container-fluid">
        <div class="d-flex justify-content-start align-items-center gap-1 gap-md-3">
            <button class="navbar-toggler border-0 {{backgroundClass}}" type="button" (click)="open(content)">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" routerLink="/">{{title}}</a>
        </div>

        <div class="d-flex justify-content-end align-items-center">
            <!-- Login button -->
            <button *ngIf="!isSignedIn" class="btn" (click)="goToLogin()" href="#!">Login</button>
            <!-- Sign up button -->
            <button *ngIf="!isSignedIn" class="btn" (click)="goToRegister()" href="#!">Sign up</button>
            <div *ngIf="isSignedIn" ngbDropdown #myDrop="ngbDropdown" display="dynamic" placement="bottom-end">
                <button type="button" class="navbar-toggler border-0" id="dropDownProfile" ngbDropdownAnchor
                    (click)="myDrop.toggle()">
                    <img class="img-profile rounded-circle" src="/assets/img/undraw_profile.svg">
                </button>
                <div ngbDropdownMenu aria-labelledby="dropDownProfile" class="m-2 p-2 shadow">
                    <div class="card border-0" [ngStyle]="{width: '20rem'}">
                        <div class="card-body">
                            <h5 class="card-title">{{account.firstname}}</h5>
                            <p class="card-text">{{account.email}}</p>
                            <div class="d-grid">
                                <button class="btn btn-lg btn-outline-primary" (click)="goToProfile()" type="button">
                                    Manage your account
                                </button>
                            </div>
                            <ul class="dropdown-menu">
                                <li><span class="dropdown-item-text">Dropdown item text</span></li>
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>
                        <!--
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                      </ul>-->
                        <hr />
                        <div class="card-body gap-2">
                            <button class="btn btn-link" (click)="logout()" type="button">
                                Logout
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #content let-offcanvas>



<div class="bg-dark sidebar">
            <div class="offcanvas-header">
                <button type="button" class="btn-close" aria-label="Close"
                    (click)="offcanvas.dismiss('Cross click')"></button>
                <h4 class="offcanvas-title" id="offcanvas-basic-title">{{account.firstname}} Logged In: {{
                    isSignedIn }}
                </h4>
            </div>
            <div class="offcanvas-body sidebar sidebar-dark accordion">

                <h1 class="visually-hidden">Sidebars examples</h1>

                <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">
                    <a href="/"
                        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <svg class="bi me-2" width="40" height="32">
                            <use xlink:href="#bootstrap" />
                        </svg>
                        <span class="fs-4">Sidebar</span>
                    </a>
                    <hr>

                    <!--                     
                        
                <button type="button" class="btn bg-gradient-dark"
                (click)="offcanvas.close('Save click')">Save</button>
                <label for="dateOfBirth">Go to Date</label>
                    <div class="input-group">
                        <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp"
                            ngbDatepicker #dp="ngbDatepicker" />
                        <button class="btn bg-gradient-dark bi bi-calendar3" (click)="dp.toggle()"
                            type="button">Date</button>
                    </div> -->


                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item">
                            <a [routerLink]="['/chat']" routerLinkActive="" class="nav-link active"
                                aria-current="page">
                                <svg class="bi me-2" width="16" height="16">
                                    <use xlink:href="#home" />
                                </svg>
                                Chat Room
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/users']" routerLinkActive="" class="nav-link text-white">
                                <svg class="bi me-2" width="16" height="16">
                                    <use xlink:href="#speedometer2" />
                                </svg>
                                Users
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-white">
                                <svg class="bi me-2" width="16" height="16">
                                    <use xlink:href="#table" />
                                </svg>
                                Orders
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-white">
                                <svg class="bi me-2" width="16" height="16">
                                    <use xlink:href="#grid" />
                                </svg>
                                Products
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-white">
                                <svg class="bi me-2" width="16" height="16">
                                    <use xlink:href="#people-circle" />
                                </svg>
                                Customers
                            </a>
                        </li>
                    </ul>
                    <hr>
                    <div class="dropdown">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                            id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="" width="32" height="32"
                                class="rounded-circle me-2">
                            <strong>mdo</strong>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                            <li><a class="dropdown-item" href="#">New project...</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Sign out</a></li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
        </ng-template>
    </div>

</nav>