.container-fs {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-image: url('/assets/img/idea_red_bg_light.gif');
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 40% auto;
    position: relative;
    background-attachment: fixed;
}