<!--
    
    <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col col-xl-10">
        <div class="card mb-5" style="border-radius: 15px;">
            
        <div class="card" style="border-radius: 15px;">
            <div class="card-body p-4">
                <h3 class="mb-3">{{user.firstname}}</h3>
                <p class="small mb-0"><i class="fas fa-star fa-lg text-warning"></i> <span class="mx-2">|</span>
                    Public <span class="mx-2">|</span> Updated by <strong>MDBootstrap</strong> on 11 April , 2021
                </p>
                <hr class="my-4">
                <div class="d-flex justify-content-start align-items-center">
                    <p class="mb-0 text-uppercase"><i class="fas fa-cog me-2"></i> <span
                            class="text-muted small">settings</span></p>
                    <p class="mb-0 text-uppercase"><i class="fas fa-link ms-4 me-2"></i> <span
                            class="text-muted small">program link</span></p>
                    <p class="mb-0 text-uppercase"><i class="fas fa-ellipsis-h ms-4 me-2"></i> <span
                            class="text-muted small">program link</span>
                        <span class="ms-3 me-4">|</span>
                    </p>
                    <a href="#!">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-2.webp" alt="avatar"
                            class="img-fluid rounded-circle me-1" width="35">
                    </a>
                    <a href="#!">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-3.webp" alt="avatar"
                            class="img-fluid rounded-circle me-1" width="35">
                    </a>
                    <a href="#!">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-4.webp" alt="avatar"
                            class="img-fluid rounded-circle me-1" width="35">
                    </a>
                    <a href="#!">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-5.webp" alt="avatar"
                            class="img-fluid rounded-circle me-3" width="35">
                    </a>
                    <button type="button" class="btn btn-outline-dark btn-sm btn-floating">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div> 


<div class="col">
    <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-1.jpg');">
      <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Short title, long jacket</h2>
        <ul class="d-flex list-unstyled mt-auto">
          <li class="me-auto">
            <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
          </li>
          <li class="d-flex align-items-center me-3">
            <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
            <small>Earth</small>
          </li>
          <li class="d-flex align-items-center">
            <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
            <small>3d</small>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-2.jpg');">
      <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Much longer title that wraps to multiple lines</h2>
        <ul class="d-flex list-unstyled mt-auto">
          <li class="me-auto">
            <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
          </li>
          <li class="d-flex align-items-center me-3">
            <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
            <small>Pakistan</small>
          </li>
          <li class="d-flex align-items-center">
            <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
            <small>4d</small>
          </li>
        </ul>
      </div>
    </div>
  </div>
-->

<div class="col">
    <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
        style="background-image: url('/assets/img/unsplash-photo-{{1 + index%3}}.jpg');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{user.firstname}}</h2>
            <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                    <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32"
                        class="rounded-circle border border-white">
                </li>
                <li class="d-flex align-items-center me-3">
                    <svg class="bi me-2" width="1em" height="1em">
                        <use xlink:href="#geo-fill" />
                    </svg>
                    <small>California</small>
                </li>
                <li class="d-flex align-items-center">
                    <svg class="bi me-2" width="1em" height="1em">
                        <use xlink:href="#calendar3" />
                    </svg>
                    <small>5d</small>
                </li>

                
                <li class="d-flex align-items-center">

                  <button (click)="goToChat()" class="btn btn-link nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                         <use xlink:href="Javascript:void(0)" /> 
                    </svg>
                    Chat
                  </button>
                  </li>
            </ul>
        </div>
    </div>
</div>