<app-top-navigation></app-top-navigation>
<section>
  <div class="container-fluid container-fs bg-light py-3">
    <div class="row d-flex flex-column min-vh-100 py-3 py-md-5 align-items-center">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card sb-light-blur shadow border-0 mx-2 mx-md-1" style="border-radius: 1rem;">
          <div class="card-body p-2 p-md-4 pt-5 text-center">
            <h1 class="fw-bold mt-2 mb-3 text-cursive">Chat Up</h1>



            <ul class="pages">
              <li class="chat page d-none">
                <div class="list-group">
                  <ul class="messages"></ul>
                </div>
                <input class="inputMessage" placeholder="Type here..." />
              </li>
              <li class="login page">
                <div class="form">
                  <h3 class="title">What's your nickname?</h3>
                  <input class="usernameInput" type="text" maxlength="14" />
                </div>
              </li>
            </ul>

            <div class="row" data-masonry='{"percentPosition": true }'>
             
</div>


          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="col-sm-6 col-lg-4 mb-4 message-template d-none">
  <div class="card bg-primary text-white text-center p-3">
    <figure class="mb-0">
      <blockquote class="blockquote">
        <p class="message-text">A well-known quote, contained in a blockquote element.</p>
      </blockquote>
      <figcaption class="blockquote-footer mb-0 text-white message-name">
        Someone famous in <cite title="Source Title">Source Title</cite>
      </figcaption>
    </figure>
  </div>
</div>