<app-top-navigation></app-top-navigation>

<div class="wrapper">


  <ul id="messages"></ul>
  <form id="form" action="">
    <input id="input" autocomplete="off" /><button>Send</button>
  </form>
  
  </div>
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js" defer></script>
<script src="./assets/vendors/socket.io/socket.io.js"></script>
<script src="./assets/javascripts/chat.js"></script>


<script>
  var socket = io(window.location.origin, { path : "/chat/"});

  var form = document.getElementById('form');
  var input = document.getElementById('input');

  form.addEventListener('submit', function(e) {
    e.preventDefault();
    if (input.value) {
      socket.emit('chat message', input.value);
      input.value = '';
    }
  });
</script>