<app-top-navigation></app-top-navigation>

<div class="wrapper">

  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-8 col-lg-7">
        <ul class="pages">
          <li class="chat page d-none">
            <div class="list-group"><ul class="messages"></ul></div>
            <input class="inputMessage" placeholder="Type here..." />
          </li>
          <li class="login page">
            <div class="form">
              <h3 class="title">What's your nickname?</h3>
              <input class="usernameInput" type="text" maxlength="14"/>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  
  </div>

  <script>

    $(document).ready(function() {
      chatapp();
    });


    </script>
