
.text-small {
  font-size: 0.9rem;
}

.messages-box,
.chat-box {
  height: 80vh;
  overflow-y: scroll;
}

.rounded-lg {
  border-radius: 0.5rem;
}

input::placeholder {
  font-size: 0.9rem;
  color: #999;
}

body, html {
  height: 100vh important!;
  overflow: hidden important!;
}