.cascading-right {
  margin-right: -50px;
}

.cascading-left {
  margin-left: -50px;
}

@media (max-width: 991.98px) {
  .cascading-right {
    margin-right: 0;
  }
}

.sb-light-blur {
  background: hsla(0, 0%, 100%, 0.55);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}

body,
input,
textarea,
select {
  font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

body, html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  position: relative;
}
body, input {
  font-family: FuturaPT,sans-serif;
  font-size: 18px;
  font-weight: 100;
}

.container-fs {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 40% auto;
  position: relative;
  background-attachment: fixed;
  transition: box-shadow 300ms ease-in 0s;
}

@media (min-width: 992px) {
.bd-layout {
    grid-template-columns: 1fr 5fr;
}
}

@media (min-width: 768px){
.bd-layout {
    display: grid;
    gap: 1.5rem;
    grid-template-areas: "sidebar main";
    grid-template-columns: 1fr 3fr;
}
}
@media (min-width: 768px){
.my-md-4 {
    margin-top: 1.5rem!important;
    margin-bottom: 1.5rem!important;
}
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}