body, input {
  font-weight: 100;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}

body, html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  position: relative;
}

.container-fs {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 40% auto;
  position: relative;
  background-attachment: fixed;
  transition: box-shadow 300ms ease-in 0s;
}

.sb-light-blur {
  background: hsla(0, 0%, 100%, 0.55);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}

.container-fs {
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  width: 5px;
  background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  width: 1em;
  background-color: #ddd;
  outline: 1px solid slategrey;
  border-radius: 1rem;
}
