
.cascading-right {
  margin-right: -50px;
}
.cascading-left {
    margin-left: -50px;
  }

  @media (max-width: 991.98px) {
    .cascading-right {
      margin-right: 0;
    }
  }

  .sb-light-blur{
    
    background: hsla(0, 0%, 100%, 0.55);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
  }

  .text-cursive {
    font-family: 'Kaushan Script', cursive;
  }

  body {
    font-family: 'Kaushan Script', cursive;
  }
  
  body, input, textarea, select {
    font-family: "Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}